.info {
  padding: 48px;
}

.body {
  h2 {
    font-weight: 400;
    margin: 0;
  }

  p {
    color: rgba(0, 0, 0, 0.38);
    font-weight: bold;
    font-size: 18px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.size {
  display: flex;
}

.price {
  align-self: center;
  h2 {
    margin: 0;
  }
}

.size-col {
  flex: 1 1 auto;
  padding: 8px 12px;
  font-size: 20px;
  align-self: center;
}

.bedrooms {
  @extend .size-col;
  align-self: flex-end;
  border-right: 1px solid rgba(0, 0, 0, 0.38);
}

.metres {
  @extend .size-col;
}
